.buttonsMonths {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tableCalender {
    display: flex;
    justify-content: center;
    margin: 0 !important;
}

.diasSemana {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: nowrap;
}

.diasMes {
  max-width: 1000px;
}

@media (max-width: 600px) {
    .tableCalender {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }
    .tableInside {
        max-width: 100% !important;
    }
    .buttonsMonths {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .buttonsMonths > *{
        width: 80% !important;
    }
}

#diasMes:hover {
    cursor: pointer;
}

#MuiGrid-item {
    cursor: pointer;
}

.css-binzgt{
    margin-top: 0px !important;
}

.mainLogin {
    height: 100vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.css-kyse2m {
    justify-content: flex-start !important;
}
